.infoList
  .infoList__header
    .infoList__box
      .infoList__name ООО "Родные просторы"
      .infoList__item ИНН: 22341497819132
      .infoList__item Банк: ОАО Сбербанк
      .infoList__item БИК: 2352362365
      .infoList__item Счет: 40802810970010000395
    .infoList__box
      .infoList__reliability
        .infoList__reliability-name 
          span Высокая финансовая
          span устойчивость
        //- не стал заморачиваться и добавил класс, который добавляет линию(border) примерно в 88% (желательно добавить скриптик, который будет рисовать линию в зависимости от числа(0-100%))
        .infoList__reliability-icon.infoList__reliability-icon_percent
          span 88
      .infoList__reliability
        .infoList__reliability-name 
          span Высокая
          span благонадежность
        .infoList__reliability-icon
          span 100
      .infoList__reliability
        .infoList__reliability-name 
          span Кредитоспособность
          span 44,5 млрд Р
        .infoList__reliability-icon.infoList__reliability-icon_priority
          span 1
          span Класс
  .infoList__footer Оплата за партию ромашек и одуванчиков по договору 14023-023 от 14.05.2015 г. Сумма 11430-00. В том числе НДС 18% - 1450,00 ₽
