nav.nav
  .nav__item
    a.nav__link.nav__link_active(href="#") Деньги
  .nav__item
    a.nav__link(href="#") Контакты
  .nav__item.nav__item_arrow
    a.nav__link(href="#") Услуги
    .nav__childrenList
      .nav__childrenList-item
        a.nav__childrenList-link(href="#") Депозитные операции
      .nav__childrenList-item
        a.nav__childrenList-link(href="#") Кредитные операции
      .nav__childrenList-item
        a.nav__childrenList-link(href="#") Расчетные операции
