.payment
  .payment__name
    .payment__close
    span Платежное поручение № 5241234 от 23.09.2015
  .payment__container
    .payment__price – 23 500,00 ₽
    .payment__countName
      span со счета:
      span Расчетный счет (***012345)
    .payment__term 
      span ИСПОЛНЕН, 21 июня 15:33
    include infoList
    .payment__description
      span.payment__commission Комиссия банка: 70 р.
      p Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным. Точный размер комиссии определяется после передачи платежного документа на обработку в банк. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iste iure incidunt aliquid corporis quam illo reiciendis consequatur quidem tempore cum, porro beatae eius similique nam officiis sit modi, praesentium dolores fuga! Labore quasi itaque corrupti vel nisi nostrum qui eaque, dignissimos dolores similique veritatis doloribus, veniam ipsa ipsum consequatur. Necessitatibus, voluptate, aut. Aspernatur dolorem ullam hic possimus? Excepturi necessitatibus error molestiae labore iure aut, illo, harum et dolore dolorem nobis esse similique exercitationem consequatur praesentium iusto earum nostrum, cupiditate in! Optio accusamus praesentium dicta impedit molestiae earum rem libero distinctio explicabo id ut mollitia neque quod, error quis tempore?Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным. Точный размер комиссии определяется после передачи платежного документа на обработку в банк. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iste iure incidunt aliquid corporis quam illo reiciendis consequatur quidem tempore cum, porro beatae eius similique nam officiis sit modi, praesentium dolores fuga! Labore quasi itaque corrupti vel nisi nostrum qui eaque, dignissimos dolores similique veritatis doloribus, veniam ipsa ipsum consequatur. Necessitatibus, voluptate, aut. Aspernatur dolorem ullam hic possimus? Excepturi necessitatibus error molestiae labore iure aut, illo, harum et dolore dolorem nobis esse similique exercitationem consequatur praesentium iusto earum nostrum, cupiditate in! Optio accusamus praesentium dicta impedit molestiae earum rem libero distinctio explicabo id ut mollitia neque quod, error quis tempore?Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным. Точный размер комиссии определяется после передачи платежного документа на обработку в банк. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iste iure incidunt aliquid corporis quam illo reiciendis consequatur quidem tempore cum, porro beatae eius similique nam officiis sit modi, praesentium dolores fuga! Labore quasi itaque corrupti vel nisi nostrum qui eaque, dignissimos dolores similique veritatis doloribus, veniam ipsa ipsum consequatur. Necessitatibus, voluptate, aut. Aspernatur dolorem ullam hic possimus? Excepturi necessitatibus error molestiae labore iure aut, illo, harum et dolore dolorem nobis esse similique exercitationem consequatur praesentium iusto earum nostrum, cupiditate in! Optio accusamus praesentium dicta impedit molestiae earum rem libero distinctio explicabo id ut mollitia neque quod, error quis tempore?Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным. Точный размер комиссии определяется после передачи платежного документа на обработку в банк. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iste iure incidunt aliquid corporis quam illo reiciendis consequatur quidem tempore cum, porro beatae eius similique nam officiis sit modi, praesentium dolores fuga! Labore quasi itaque corrupti vel nisi nostrum qui eaque, dignissimos dolores similique veritatis doloribus, veniam ipsa ipsum consequatur. Necessitatibus, voluptate, aut. Aspernatur dolorem ullam hic possimus? Excepturi necessitatibus error molestiae labore iure aut, illo, harum et dolore dolorem nobis esse similique exercitationem consequatur praesentium iusto earum nostrum, cupiditate in! Optio accusamus praesentium dicta impedit molestiae earum rem libero distinctio explicabo id ut mollitia neque quod, error quis tempore?
  .payment__footer
    .payment__footer-box.payment__container
      .payment__footer-item
        img(src="../media/payment/repeat.svg", alt="Повтор")
        span Повторить
      .payment__footer-item
        img(src="../media/payment/star.svg", alt="В избранное")
        span В избранное
      .payment__footer-item
        img(src="../media/payment/message.svg", alt="Спросить")
        span Спросить
      .payment__footer-item
        img(src="../media/payment/event.svg", alt="Действия")
        span Действия
