.profile
  .profile__icon
    img(src="../media/header/profile-icon.svg", alt="Домик")
  .profile__name.profile__name_arrow ООО «РОДНЫЕ ПРОСТОРЫ»
    .profile__list
      .profile__item ООО «ЧУЖИЕ ПРОСТОРЫ»
      .profile__item ООО «ПЛОХИЕ ПРОСТОРЫ»
      .profile__item ООО «КРУТЫЕ ПРОСТОРЫ»
